.navbar {
	width: 100%;
	background: url("../assets/NavImg1.JPG") center / cover;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
	padding: 1rem 0;
	min-height: 35vh;
	top: 0;
	left: 0;
	z-index: 100;
}

.navbar-container {
	margin: 0 auto;
	padding: 0 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.logo-image {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	object-fit: cover;
	filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
	transition: transform 0.3s ease;
}

.logo-image:hover {
	transform: scale(1.1);
}

.nav-links {
	display: flex;
	gap: 2rem;
}

.nav-link {
	font-family: "Playfair Display", serif;
	color: #64a4ed;
	text-decoration: none;
	font-size: 1.1rem;
	font-weight: bold;
	font-style: italic;
	padding: 0.5rem 1rem;
	border-radius: 8px;
	background-color: #f3d7f3;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease;
}

.nav-link:hover {
	background-color: #ffbaba;
	transform: translateY(-2px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.nav-link::after {
	content: "";
	position: absolute;
	bottom: -4px;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #6481ed;
	transition: width 0.3s ease;
}

.nav-link:hover::after {
	width: 100%;
}

.nav-text {
	display: block;
}
